<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>code</key>
        <dict>
            <key>code1</key>
            <string>C2A64E4AC81B5908C279E74AD37FA1EC</string>
            <key>code2</key>
            <string>33017DEFB5840CE345C6EC52EA261D73</string>
            <key>code3</key>
            <string>A95B7B7AB0BB5022F1D4773D86A5B77C</string>
            <key>code4</key>
            <string>7F96DB491CC042F432E3881C1E0124E0</string>
        </dict>
        <key>agcgw</key>
        <dict>
            <key>url</key>
            <string>connect-drru.hispace.dbankcloud.ru</string>
            <key>backurl</key>
            <string>connect-drru.hispace.dbankcloud.cn</string>
            <key>websocketurl</key>
            <string>connect-ws-drru.hispace.dbankcloud.ru</string>
            <key>websocketbackurl</key>
            <string>connect-ws-drru.hispace.dbankcloud.cn</string>
        </dict>
        <key>agcgw_all</key>
        <dict>
            <key>SG</key>
            <string>connect-dra.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-dra.hispace.hicloud.com</string>
            <key>CN</key>
            <string>connect-drcn.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-drcn.hispace.hicloud.com</string>
            <key>RU</key>
            <string>connect-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-drru.hispace.dbankcloud.cn</string>
            <key>DE</key>
            <string>connect-dre.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-dre.hispace.hicloud.com</string>
        </dict>
        <key>websocketgw_all</key>
        <dict>
            <key>SG</key>
            <string>connect-ws-dra.hispace.dbankcloud.cn</string>
            <key>SG_back</key>
            <string>connect-ws-dra.hispace.dbankcloud.com</string>
            <key>CN</key>
            <string>connect-ws-drcn.hispace.dbankcloud.cn</string>
            <key>CN_back</key>
            <string>connect-ws-drcn.hispace.dbankcloud.com</string>
            <key>RU</key>
            <string>connect-ws-drru.hispace.dbankcloud.ru</string>
            <key>RU_back</key>
            <string>connect-ws-drru.hispace.dbankcloud.cn</string>
            <key>DE</key>
            <string>connect-ws-dre.hispace.dbankcloud.cn</string>
            <key>DE_back</key>
            <string>connect-ws-dre.hispace.dbankcloud.com</string>
        </dict>
        <key>oauth_client</key>
        <dict>
            <key>client_id</key>
            <string>116084209</string>
            <key>client_type</key>
            <string>22</string>
        </dict>
        <key>configuration_version</key>
        <string>3.0</string>
        <key>app_info</key>
        <dict>
            <key>app_id</key>
            <string>245150415729009822</string>
            <key>package_name</key>
            <string>com.altcraft.ios.app</string>
        </dict>
        <key>client</key>
        <dict>
            <key>cp_id</key>
            <string>1340007000015027083</string>
            <key>product_id</key>
            <string>461323198430277287</string>
            <key>client_id</key>
            <string>1761905061631418240</string>
            <key>client_secret</key>
            <string>[!00C1BB1C909E1DD62ED58581C963D44E9C880624B72F81BA0F91310DC9806A3B93F76D049CE24F4D1980B794BE67F86EF15965C105004715221695D5AF0FDBABF98AFC8B418608E3BBC2E2B2E1CEB6D5337673CA27A4DD91995BBCD86E5B2904A6]</string>
            <key>project_id</key>
            <string>461323198430277287</string>
            <key>app_id</key>
            <string>245150415729009822</string>
            <key>api_key</key>
            <string>DgEDAHQRou3VOyu5LUyAdLHGs05DSuRHiiJve3K1yzJJ6sUQHOoF7DDpIc6c0cmx92jUWFnZmMHf+kK5Sm3d5lNi2YqDosJx8t76xA==</string>
            <key>package_name</key>
            <string>com.altcraft.ios.app</string>
        </dict>
        <key>service</key>
        <dict>
            <key>analytics</key>
            <dict>
                <key>collector_url</key>
                <string>datacollector-drru.dt.dbankcloud.ru,datacollector-drru.dt.hicloud.com</string>
                <key>collector_url_cn</key>
                <string>datacollector-drcn.dt.hicloud.com,datacollector-drcn.dt.dbankcloud.cn</string>
                <key>collector_url_de</key>
                <string>datacollector-dre.dt.hicloud.com,datacollector-dre.dt.dbankcloud.cn</string>
                <key>collector_url_ru</key>
                <string>datacollector-drru.dt.dbankcloud.ru,datacollector-drru.dt.hicloud.com</string>
                <key>collector_url_sg</key>
                <string>datacollector-dra.dt.hicloud.com,datacollector-dra.dt.dbankcloud.cn</string>
                <key>resource_id</key>
                <string>p1</string>
                <key>channel_id</key>
                <string/>
            </dict>
            <key>ml</key>
            <dict>
                <key>mlservice_url</key>
                <string>ml-api-drru.ai.dbankcloud.ru,ml-api-drru.ai.dbankcloud.cn</string>
            </dict>
            <key>cloudstorage</key>
            <dict>
                <key>storage_url</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_ru</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_sg</key>
                <string>https://ops-dra.agcstorage.link</string>
                <key>storage_url_de</key>
                <string>https://ops-dre.agcstorage.link</string>
                <key>storage_url_cn</key>
                <string>https://agc-storage-drcn.platform.dbankcloud.cn</string>
                <key>storage_url_ru_back</key>
                <string>https://agc-storage-drru.cloud.huawei.ru</string>
                <key>storage_url_sg_back</key>
                <string>https://agc-storage-dra.cloud.huawei.asia</string>
                <key>storage_url_de_back</key>
                <string>https://agc-storage-dre.cloud.huawei.eu</string>
                <key>storage_url_cn_back</key>
                <string>https://agc-storage-drcn.cloud.huawei.com.cn</string>
            </dict>
            <key>search</key>
            <dict>
                <key>url</key>
                <string>https://search-drru.cloud.huawei.ru</string>
            </dict>
            <key>edukit</key>
            <dict>
                <key>edu_url</key>
                <string>edukit.cloud.huawei.com.cn</string>
                <key>dh_url</key>
                <string>edukit.cloud.huawei.com.cn</string>
            </dict>
        </dict>
        <key>region</key>
        <string>RU</string>
        <key>appInfos</key>
        <array>
            <dict>
                <key>package_name</key>
                <string>com.altcraft.ios.app</string>
                <key>client</key>
                <dict>
                    <key>client_secret</key>
                    <string>[!00B5D1DB7704137FDF0058999CB80E601AE1B9703D3161AF6D031172B3218A8A2F5FF2DE493C44AB31418291C4F0E4F19543DB6388EF3C93ABAECC242A930A011D547EA7C32CAB35A1864CEACBCEE1B69D15072D1E84C38AE429127A65A5353C49]</string>
                    <key>app_id</key>
                    <string>245150415729009822</string>
                </dict>
                <key>code</key>
                <dict>
                    <key>code1</key>
                    <string>61D0FEE0954946FD61ED23367E0EBE02481CFB69000DED02CBE578686CF2E778</string>
                    <key>code2</key>
                    <string>8B444A870C3B011B28D291BE4D1D91FAF432EC7949A3DE1321C208FDADA7BE31</string>
                    <key>code3</key>
                    <string>F73FEA9920E1F030102C03B682DAB1C777354C9027FD17A4982ABD47EF99F974</string>
                    <key>code4</key>
                    <string>175CF1CBF0D322853A190AE22ADDE609</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
